/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.box1 {
  position: absolute;
  text-align: center;
  width: 49%;
  margin-right: 1%;
  background-color: #e5e5e5;
}

.box2 {
  position: absolute;
  text-align: center;
  right: 0px;
  width: 49%;
  margin-left: 1%;
  background-color: #e5e5e5;
}

.box3 {
  position: absolute;
  text-align: center;
  top: 173px;
  width: 49%;
  margin-right: 1%;
  background-color: #e5e5e5;
}

.box4 {
  position: absolute;
  text-align: center;
  top: 173px;
  right: 0px;
  width: 49%;
  margin-left: 1%;
  background-color: #e5e5e5;
}

.answerbox {
  position: absolute;
  top: 400px;
  width: 730px;
  height: 40px;
}

.mycont {
  position: relative;
}

.mycont2 {
  position: absolute;
  top: 345px;
  width: 100%;
}

.buttonbox {
  position: absolute;
  top: 525px;
  left: 595px;
}

.column1 {
  float: left;
  margin: 3px;
  vertical-align: bottom;
  background-color: #e5e5e5;
}

.column2 {
  float: left;
  margin: 3px;
  vertical-align: bottom;
  background-color: #e5e5e5;
}

.aligncenter {
  text-align: center;
  vertical-align: top;
  width: 100%;
  background-color: #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 0px 0;
}
.marketing p + h4 {
  margin-top: 028px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
